{{- $ns := default .Release.Namespace .Values.global.namespace -}}
{{- $fullname := include "pytoya.fullname" . -}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fullname }}-config
  namespace: {{ $ns }}
  labels:
    {{- include "pytoya.labels" . | nindent 4 }}
data:
  config.yaml: |
{{ include "pytoya.configYaml" . | nindent 4 }}
